* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    background-color: red;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 3;
    z-index: 10;
}

.main {
    background-image: url('hotell.png');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.knappar {
    top:20px;
    right:20px;
    position:absolute;
    right:0px;
    margin: 20px;
    padding: 0;
    z-index: 11;
    
}

.knappar a {
    display: flex;
    text-decoration: none;
    background: #F4E1C1;
    color: #3C5A36;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    transition: 0.3s;
    


}

.knappar a:hover {
    background: #3C5A36;
    color: #F4E1C1;
}




.main, .box2 {
    display: block;
    margin: 0;
    padding: 0;
}

.box2 {
    background-color: black;
    color: white;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
